footer {
    width: 100%;
    background: #333333;
}

footer .d-flex, footer .no-group, footer .social-group, footer .copyright-group {
    width: 100%;
    text-align: center;
}

footer .social-group {
    padding: 24px 0;
}

footer .social-group > div {
    width: 15%;
    margin: 0 auto;
}

footer .d-flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

footer .copyright {
    margin-top: 16px;
    font-size: 12px;
    color: gray;
}

footer .socials {
    width: 48px;
    height: 48px;
    opacity: .8;
    margin-left: 1vw;
    border-radius: 50%;
    background: #585858;
    display: flex;
}

footer .socials img {
    opacity: 1;
    width: 26px;
}

footer .socials:hover {
    opacity: 1;
    cursor: pointer;
    background: #9c9090;
}